body{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    background-color: #D0CD94;
    width: 100%;
}

#gameBoard{
    width: 62.5vw;
    display: flex;
    flex-direction: column;
    background-color: #FCEFEF;
    border-radius: 2.5vw;
    border-top-left-radius: 0.5;
    border-top-right-radius: 0.5;
    margin: 2%;
    

}

.invisi{
    display: flex;
    flex-direction: row;
}

.card{
    height: 20vh;
    min-height: 20vh;
    width: 10vw;
    min-width: 10vw;
    margin: 2%;
    border-radius: 2.5vw;
    background-position: center;
    background-color: #e4a369;
}

#titleCard {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #D56F3E;
}




#buttonHolder {
    
    
  background-color: #f9a051;
  border: 0.25vw solid #241623;
  border-radius: 2.5vw;
  height: 12vh;
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 1vh;
  position: sticky;
  
}

#holder {
    display: flex;
    flex-direction: row;
    width: 45vw;
}

.xsButton {
  height: 3vh;
  width: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  border: 0.115vw solid #241623;
  border-radius: 5vw;
  background-color: #F3DFBF;
  margin: 0 auto;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out; 
  p {
    font-size: x-small;
  }
}


.xsButton:hover {
  transform: scale(1.05);
  background-color: #f7b57c;

}

#reset {
    border: 0.115vw solid #241623;
    border-radius: 0.5vw;
    transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out; 
    margin: .02%;
    width: 30%;
    align-self: center;

}
#reset:hover {
  transform: scale(1.025, 1.05);
  background-color: #f9a051;

}
#scoreHolder {
    margin-top: 2.5vh;
    height: 20vh;
    width: 30vw;
    border: 0.25vw solid #241623;
    border-radius: 0.5vw;
    background-color: #F3DFBF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#P1 {
    height: 12vh;
    width: 12vw;
    border: 0.25vw solid #241623;
    border-radius: 0.5vw;
    background-color: #3C787E;
    
    justify-content: space-around;
    align-items: center;
}

#P2 {
    height: 12vh;
    width: 12vw;
    border: 0.25vw solid #241623;
    border-radius: 0.5vw;
    background-color: #C7EF00;
}

.miniBox {
    width: 12vw;
    border-bottom: 0.25vw solid #241623;
    border-radius: 0.05vw;
    background-color: #f9a051;
    justify-self: center;
    text-align: center;
}