/*    'img1':[2,'../../resources/index/general.png','Jackolanterns'],
    'img2':[2,'../../resources/index/leaf.png','FallLeaf'],
    'img3':[2,'../../resources/index/mac&cheese.png','MacandCheese'],
    'img4':[2,'../../resources/index/pumpkin.png','Pumpkins'],
    'img5':[2,'../../resources/index/rolls.png','BreadRolls'],
    'img6':[2,'../../resources/index/santa.png','SantaMeme'],
    'img7':[2,'../../resources/index/seeds.png','PumpkinSeeds'],
    'img8':[2,'../../resources/index/tree.png','FunnyTreeImage'],
    'img9':[2,'../../resources/index/wind.png','LeavesBlownAway'],
    'img10':[2,'../../resources/index/winter.png','WinterLeaves'],*/

body{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    background-color: #FCAB64;
}

#gameBoard{
    width: 65.25vw;
    display: flex;
    flex-direction: column;
    background-color: #FCEFEF;
    border-radius: 2.5vw;
    margin: 2%;

}

.invisi{
    display: flex;
    flex-direction: row;
    
}

.card{
    height: 20vh;
    min-height: 20vh;
    width: 10vw;
    min-width: 10vw;
    background-color: #FCD29F;
    margin: 2%;
    border: 0.25vw solid #7FD8BE;
    border-radius: 2.5vw;
}

#titleCard {
    height: 20dvh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #cdffef;
    border: 0.25vw solid #7FD8BE;
    border-radius: 2.5vw;
}