body{
    font-family: "Work Sans", sans-serif;
    color: #1e2d2e;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    background-color: #D0CD94;
    width: 100%;
}

#rules {
    height: 160vh;
    width: 95vw;
    border: 0.5vw solid #1e2d2e;
    border-radius: 2.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    font-size: 200%;
    background-color: #a1c100;
    margin-top: 1vh;
    h1, p {
        text-align: center;
        background-color: #60afb6;
        border: 0.5vw solid #1e2d2e;
        border-radius: 2.5vw;
        width: 90vw;
    }
    
}



#rulestext {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 75%;
    border: 0.5vw solid #1e2d2e;
    border-radius: 2.5vw;
    background-color: #60afb6;
    padding: .2%;

}
#matches {
    display: flex;
    height: 50%;
    width: 95%;
    background-color: #cdffef;
    border: 0.5vw solid #1e2d2e;
    border-radius: 2.5vw;
    background-color: #60afb6;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
   
}



.matchimg {
    height: 30vh;
    width: 16vw;
    border-radius: 2.5vw;
    object-fit: cover;
    border: 0.25vw solid #1e2d2e;
    transition: transform 0.5s, box-shadow 0.5s;
}
.matchimg:hover {
    transform: scale(1.05);
    box-shadow: 0.125vw 0.125vw #1e2d2e;
}



#buttonHolder {
    
    
  background-color: #f9a051;
  border: 0.25vw solid #241623;
  border-radius: 2.5vw;
  height: 12vh;
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 1vh;
  position: sticky;
  
}

#holder {
    display: flex;
    flex-direction: row;
    width: 45vw;
}

.xsButton {
  height: 3vh;
  width: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  border: 0.115vw solid #241623;
  border-radius: 5vw;
  background-color: #F3DFBF;
  margin: 0 auto;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out; 
  p {
    font-size: x-small;
  }
}


.xsButton:hover {
  transform: scale(1.05);
  background-color: #f7b57c;

}