#titleCard {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cdffef;
}

body{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    background-color: #975821;
    width: 100%;
}

#rules {
    height: 160vh;
    width: 95vw;
    border: 0.5vw solid #7FD8BE;
    border-radius: 2.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    font-size: 200%;
    background-color: #FCEFEF;
    margin-top: 1vh;
    h1, p {
    text-align: center;
    background-color: #975821;
    border: 0.5vw solid #7FD8BE;
    border-radius: 2.5vw;
    width: 60vw;
    }
    
}



#rulestext {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 90%;
    border: 0.5vw solid #7FD8BE;
    border-radius: 2.5vw;
    background-color: #975821;
    /*transform: ;*/

}
#matches {
    display: flex;
    height: 50%;
    width: 95%;
    background-color: #cdffef;
    border: 0.5vw solid #7FD8BE;
    border-radius: 2.5vw;
    background-color: #975821;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
   
}



.matchimg {
    height: 30vh;
    width: 16vw;
    border-radius: 2.5vw;
    object-fit: cover;
    border: 0.25vw solid #7FD8BE;
    transition: transform 0.5s, box-shadow 0.5s;
}
.matchimg:hover {
    transform: scale(1.15);
    box-shadow: 0.125vw 0.25vw black;
}